@import url('https://fonts.googleapis.com/css?family=Quicksand');
body {
  font-family: 'Quicksand', sans-serif!important;
  font-size: 16px;
  padding: 0;
  font-family: sans-serif;
  background-color: #e3dfd1;
}
h1,h2,h3{
  color:#8fb55e;
}
h1,h2,h3,.center-children{
  text-align: center;
}
h1{
  margin:30px;
}
hr{
  border-color:#8fb55e;
}
/*frontpage styles*/
.intro{
  margin-bottom: 60px;
}
.suggestions > div{
  margin-bottom: 30px;
}
.suggestions img{
  margin-bottom: 10px;
  height: 150px;
  width: auto;
}
.suggestions > div:hover img{
  filter: brightness(110%);
}
/*results styles*/
.result-image-container{
  display:flex;
  flex-flow:wrap;
  justify-content: space-around;
}
.result-image{
  margin:10px;
  position: relative;
}
.result-image img{
  max-height: 400px;
  height: auto;
  width: 100%;
}
.order-num{
  position: absolute;
  color: white;
  text-shadow: 2px 2px 1px #000;
  font-size: 30px;
  left: 5px;
}
.question-container .btn{
  margin-left: 10px;
}
/*Create styles*/
.singleField{
  margin-bottom: 10px;
}
.input-tip{
  margin-left: 10px;
}
.terms{
  vertical-align: top;
  position: relative;
  top: 3px;
}
.fakelink{
  cursor:pointer;
}
.add{
  margin-bottom: 5px;
  margin-left: 10px;
}
label > input{
  display: block;
}
.preview-container{
  margin-left: -10px;
  margin-right: -10px
}
.preview-container > div{
  text-align: center;
  display: inline-block;
  padding: 10px;
  position: relative;
  overflow: hidden;
  height: 110px;
}
img.preview{
  height: 100px;
  display: block;
  width: auto;
  padding-bottom: 5px;
}
img.preview.loading{
  opacity: 0.2
}
.previewDelete{
  opacity: 0;
  position: relative;
  top: -45px;
  transition: 0.2s opacity;
}
@media (max-width:999px) {
  .previewDelete{
    opacity: 1;
  }
}

img.preview:hover + .previewDelete, .previewDelete:hover{
  opacity: 1;
}
/*Collections styles*/
.error-flash h3{
  color:red;
}
.collections-container{
  margin-left:-20px;
  margin-right: -20px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}
.collection-card{
  display:inline-block;
  margin:10px 20px;
  padding: 15px;
  background-color:#f0f1e2;
  width:300px;
  position: relative;box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.collection-card:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.star-container{
  margin:10px 0px;
}
.star-container img{
  height: 30px;
  width: auto;
  position: relative;
  top: -4px;
}
.card-image{
  width: 100%;
  height: 200px;
  background-size: cover!important;
  background-position: center;
  transition: 0.3s all cubic-bezier(.25,.8,.25,1);;
  position: relative;
  z-index:2;
}
.card-image:hover{
  filter:brightness(120%);
}
.card-info h3{
  font-size: 18px;
}
.card-info .table {
  text-align:left;
}
.card-info .table > div{
  display:table-row;
}
.card-info .table > div > span{
  display:table-cell;
  padding-left: 20px;
}
.sort-container{
  margin:10px 50px;
}
.cat{
  cursor:pointer;
  color:#337ab7;
}
.cat:not(:first-child){
  margin-left: 5px;
}
.cat:hover{
  color:#23527c;
  text-decoration: underline;
}
.search{
  margin: 10px 10px 0 10px;
  position: relative;
  float:right;
}
.search-x{
  font-family: sans-serif!important;
  font-weight: bold;
  font-size: 20px;
  color: rgba(255,100,100,0.8);
  position: absolute;
  right: 5px;
  top: -4px;
  padding: 5px;
  cursor:pointer;
}
.search-x:hover{
  color: rgba(255,70,70,1);
}
.search
.collections .btn-toolbar .search,
.collections .btn-toolbar .btn-group,
.collections .btn-toolbar .btn {
  float:right;
}
.collections .createnew:hover{
  filter: brightness(110%);
}

/*Collection styles*/
.image-container{
  display:inline-block;
  margin:10px;
}
.versus{
  margin:0 25px;
  color:#8fb55e;
  font-size: 30px;
}
.comparison-container{
  margin-top:30px;
  user-select: none;
}
.comparison-container .row div{
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.image-container img{
  max-height: 300px;
  max-width: 100%;
  width: auto;
}
.left-image{
  text-align: right;
}
.divisor h3{
  margin: 0;
}
.right-image{
  text-align: left;
}
@media (max-width:999px) {
  .right-image, .left-image{
    text-align: center;
  }
  .image-container img{
    max-height: 
  }
  .image-container img{
    max-height: 45vh;
  }
}
.comparison-container .btn{
  margin-top:30px;
}

/*Override bootstrap*/
.dropdown-menu > li > a:hover{
  background-color: #2e6da4;
  background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
  color:#fff;
}
.navbar-default{
  border:none;
  background-image: none;
  background-color: #8fb55e;
  border-radius: 0;
}
.navbar-default li a:hover,.navbar-default .dropdown-menu > li > a:hover{
  background-color:#668241!important;
}
.navbar-default li.active a,.navbar-default .navbar-nav > .open > a,.navbar-default .dropdown-menu > li.active > a{
  background-image: none!important;
  background-color: #668241!important;
}
.navbar-default a{
  font-size: 20px;
  color:#fff!important;
}
.navbar-toggle{
  border:none!important;
}
.navbar-toggle:hover,.navbar-toggle:active,.navbar-toggle:focus{
  background-color:transparent!important;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: #668241!important;
}
.btn-default{
  border:none!important;
  background-image: none!important;
  background-color: #8fb55e!important;
  color:#fff!important;
  border-radius: 1px!important;
  padding: 10px 20px!important;
  position: relative!important;
  margin-top:5px;
  margin-bottom: 5px;
  box-shadow: 0 4px #668241!important;
}
.btn-sm, .btn-group-sm > .btn{
  padding: 5px 10px!important;
}
.btn{
  font-size: 15px!important;
}
.btn-default:active{
  box-shadow: 0 2px #668241!important;
  top: 2px!important;
}
.btn-default:hover{
  filter:brightness(110%);
}
.btn-default.worst{
  background-color: #d44646!important;
  box-shadow: 0 4px #912a2a!important;
}
.btn-default.worst:active{
  box-shadow: 0 2px #912a2a!important;
}

.dropdown-menu{
  border-radius:0!important;
  border:none!important;
}
.dropdown-menu li a{
  color:#668241!important;
}
.dropdown-menu li.active a{
  background-image: none!important;
  background-color: #8fb55e!important;
  color:#fff!important;
}
.dropdown-menu li a:hover{
  color:#fff!important;
  background-image: none!important;
  background-color: #8fb55e!important;
}

/*spinner */
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(143, 181, 94, 0.2);
  border-right: 1.1em solid rgba(143, 181, 94, 0.2);
  border-bottom: 1.1em solid rgba(143, 181, 94, 0.2);
  border-left: 1.1em solid #8fb55e;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  overflow: hidden;
}
.cardloader{
  position: absolute;
  left: 100px;
  z-index:1;
}
.imageloader{
  position: absolute;
  height: 50px;
  width: 50px;
  left: 35%;
  top: -30px;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
