body {
  margin: 0 0 35px 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #e3dfd1;
}
h1,h2,h3{
  color:#8fb55e;
}
h1,h2,h3,.center-children{
  text-align: center;
}
h1{
  margin:30px;
}
hr{
  border-color:#8fb55e;
}
/*results styles*/
.result-image-container{
  display:flex;
  flex-flow:wrap;
  justify-content: space-around;
}
.result-image{
  margin:10px 0;
  position: relative;
}
.order-num{
  position: absolute;
  color: white;
  text-shadow: 2px 2px 1px #000;
  font-size: 30px;
  left: 5px;
}
.question-container .btn{
  margin-left: 10px;
}
/*Collections styles*/
.collections-container{
  margin-left:-20px;
  margin-right: -20px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}
.collection-card{
  display:inline-block;
  margin:10px 20px;
  padding: 15px;
  background-color:#fff;
  width:300px;
}
.card-image{
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: 0.5s all;
}
.card-image:hover{
  filter:brightness(120%);
}
.card-info h3{
  font-size: 18px;
}
.sort-container{
  margin:10px 50px;
}
.cat{
  margin-left: 5px;
  cursor:pointer;
  color:#337ab7;
}
.cat:hover{
  color:#23527c;
  text-decoration: underline;
}
.search{
  margin: 1px 10px 0 10px;
  position: relative;
  float:right;
}
.search-x{
  font-weight: bold;
  font-size: 20px;
  color: rgba(255,100,100,0.8);
  position: absolute;
  right: 5px;
  top: -5px;
  padding: 5px;
  cursor:pointer;
}
.search-x:hover{
  color: rgba(255,70,70,1);
}
.search
.collections .btn-toolbar .search,
.collections .btn-toolbar .btn-group,
.collections .btn-toolbar .btn {
  float:right;
}

/*Collection styles*/
.image-container{
  display:inline-block;
}
.versus{
  margin:0 25px;
}
.comparison-container{
  margin-top:30px;
  user-select: none;
}
.comparison-container .btn{
  margin-top:30px;
}

/*Override bootstrap*/
.dropdown-menu > li > a:hover{
  background-color: #2e6da4;
  background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
  color:#fff;
}
.navbar-default{
  border:none;
  background-image: none;
  background-color: #8fb55e;
  border-radius: 0;
}
.navbar-default li a:hover{
  background-color:#668241!important;
}
.navbar-default li.active a{
  background-image: none!important;
  background-color: #668241!important;
}
.navbar-default a{
  font-size: 20px;
  color:#fff!important;
}
.btn-default{
  border:none!important;
  background-image: none!important;
  background-color: #8fb55e!important;
  color:#fff!important;
  border-radius: 0!important;
  padding: 10px 20px!important;
  position: relative!important;
  box-shadow: 0 4px #668241!important;
}
.btn-default:active{
  box-shadow: 0 2px #668241!important;
  top: 2px!important;
}
.btn-default:hover{
  filter:brightness(110%);
}
.btn-default.worst{
  background-color: #d44646!important;
  box-shadow: 0 4px #912a2a!important;
}
.btn-default.worst:active{
  box-shadow: 0 2px #912a2a!important;
}

.dropdown-menu{
  border-radius:0!important;
  border:none!important;
}
.dropdown-menu li a{
}
.dropdown-menu li.active a{
  background-image: none!important;
  background-color: #8fb55e!important;
}
.dropdown-menu li a:hover{
  background-image: none!important;
  background-color: #8fb55e!important;
}

/*spinner */
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(128,212,83, 0.2);
  border-right: 1.1em solid rgba(128,212,83, 0.2);
  border-bottom: 1.1em solid rgba(128,212,83, 0.2);
  border-left: 1.1em solid #80d453;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
